* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #251f1f;
  background-color: #fcfbf9;
}

ion-icon {
  font-size: 64px;
}

/* *************CONTAINERS************/
.container {
  /* 1140px */
  max-width: 120rem;
  margin: 0 auto;
}

.container--big {
  width: 98vw;
  max-width: 1400px;
  margin: 0 auto;
}

/* *************PADDINGS************/
.padding--small {
  padding: 5rem 5vw;
}

.padding--big {
  padding: 10rem 5vw;
}

.padding--huge {
  padding: 15rem 5vw;
}

.padding--footer {
  padding-bottom: 5rem;
}

/* *************HEADERS************/
.heading-secondary {
  font-size: 4rem;
  color: inherit;
  margin-right: 10rem;
  font-weight: 600;
  line-height: 117%;
  letter-spacing: 0.05em;
}

.heading-tertiary {
  font-weight: 500;
  font-size: 2.2rem;
  color: inherit;
  margin-bottom: 5rem;
}

.description {
  font-size: 2rem;
  line-height: 148%;
  letter-spacing: 0.05em;
  color: inherit;
  font-weight: 400;
}

.stairs__info {
  background-color: #dfd3c3;
  margin-top: -2px;
  height: auto;
}

.stairs__info h3,
.stairs__info p {
  padding: 0 10vw;
}

.stairs__description {
  display: flex;
  padding-bottom: 10rem;
  gap: 10vw;
  margin: 0 auto;
}

.stairs__description .description {
  flex: 2;
  padding: 2rem 0;
  margin: auto 0;
}

.stairs__description .description__aside {
  flex: 1;
  background-color: #dfd3c3;
  min-width: 20rem;
}

/* *************MIXIN************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  max-width: 125rem;
  margin: 0 auto;
}

.header img {
  width: 10rem;
  height: auto;
}

.header .main__list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 5rem;
}

.header .main__link:link, .header .main__link:visited {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  font-size: 1.8rem;
  transition: border-bottom 0.3s;
  padding-bottom: 1rem;
  border-bottom: 3px solid transparent;
}

.header .main__link:hover, .header .main__link:active {
  border-bottom: 3px solid #67403d;
}

.section-hero {
  padding: 10rem 0 10rem 0;
}

.section-hero .hero {
  padding: 0 5vw;
  max-width: 120rem;
  display: grid;
  gap: 5rem;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
}

.section-hero .hero__text-box {
  margin-bottom: 5rem;
}

.section-hero .hero__text-box h1 {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 114%;
  letter-spacing: 0.05em;
  margin-bottom: 10rem;
}

.section-hero .hero__text-box span {
  color: #575555;
}

.section-hero .hero__text-box .btn:link,
.section-hero .hero__text-box .btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  border: none;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  width: auto;
  padding: 1rem 2.5rem;
  transition: background-color 0.3s;
  letter-spacing: 0.08em;
  background-color: #67403d;
}

.section-hero .hero__text-box .btn:hover,
.section-hero .hero__text-box .btn:active {
  background-color: #611c14;
}

.section-hero .hero__img {
  width: 100%;
}

.quality {
  background-color: #dfd3c3;
}

.quality__top {
  display: flex;
  align-items: center;
}

.quality__top h3 {
  padding-left: 10rem;
  border-left: 3px solid #fcfbf9;
}

.quality__top span {
  display: block;
  color: #fcfbf9;
}

.quality__bottom {
  margin: 10rem 0;
}

.quality__cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5rem;
}

.quality__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 19rem;
  height: 16rem;
  background-color: #fcfbf9;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1rem;
  margin: 0 auto;
  border-radius: 5%;
}

.quality__card p {
  text-align: center;
}

.quality__btn {
  text-align: right;
  border-radius: 5%;
}

.quality .btn:link,
.quality .btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  border: none;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  width: auto;
  padding: 1rem 2.5rem;
  transition: background-color 0.3s;
  letter-spacing: 0.08em;
  background-color: #575555;
}

.quality .btn:hover,
.quality .btn:active {
  background-color: #232323;
}

.card-icon {
  position: absolute;
  width: 8rem;
  top: -25%;
  left: 50%;
  transform: translate(-50%, 25%);
  fill: #575555;
}

.about h2 {
  padding-bottom: 3rem;
  display: inline-block;
  border-bottom: 3px solid #67403d;
  margin-bottom: 5rem;
}

.about span {
  color: #67403d;
}

.about__box {
  display: flex;
  gap: 10rem;
}

.about__description p:not(:last-of-type) {
  margin-bottom: 5rem;
}

.about__photo {
  max-height: 45rem;
}

.footer {
  display: grid;
  grid-template-areas: "logo address info" "icons address info" "copy  address info";
  justify-content: space-around;
}

.footer__logo {
  grid-area: logo;
}

.footer__icons {
  grid-area: logo;
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 1rem 0 5rem 0;
}

.footer__copyright {
  grid-area: copy;
}

.footer__address {
  grid-area: address;
  font-size: 1.6rem;
  color: #575555;
  font-style: normal;
  line-height: 150%;
}

.footer__heading {
  font-size: 2rem;
  margin-bottom: 5rem;
}

.footer__nav {
  grid-area: info;
  font-size: 2rem;
  line-height: 150%;
}

.footer__links {
  color: #575555;
  font-size: 1.6rem;
  line-height: 150%;
  list-style: none;
}

.footer__link {
  transition: color 0.3 ease;
}

.footer__link:link, .footer__link:visited {
  text-decoration: none;
  color: inherit;
}

.footer__link:hover, .footer__link:active {
  color: #251f1f;
}

.footer--icon {
  transition: color 0.3 ease;
  fill: #575555;
  width: 2rem;
}

.footer--icon:hover {
  fill: #251f1f;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 4.5rem;
}

.single__image {
  height: 20vw;
  max-width: 26vw;
  position: relative;
}

.single__image.color {
  background-color: #381c18;
}

.single__image:hover p {
  position: absolute;
  color: #251f1f;
  background-color: rgba(252, 251, 249, 0.8);
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.single__image:hover img {
  opacity: 1;
}

.single__image:not(:last-of-type) {
  margin-bottom: 4.5rem;
}

.single__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}

.single__image img.color {
  opacity: 0.3;
}

.single__image:nth-of-type(2) {
  flex: 2;
}

.single__image a {
  background-color: #381c18;
}

.single__image p {
  color: #dfd3c3;
  font-size: 2.1rem;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  transition: all 0.7s ease-in-out;
  padding: 1rem 3rem;
}

.single__image p,
.single__image p.title {
  position: absolute;
  line-height: 138%;
  text-transform: lowercase;
}

.single__image p.title {
  font-size: 1.4rem;
  text-align: left;
  color: #251f1f;
  background-color: rgba(252, 251, 249, 0.8);
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
}

.offer__top {
  display: flex;
  align-items: center;
  margin-bottom: 10rem;
}

.offer__top h3 {
  padding-left: 10rem;
  border-left: 3px solid #67403d;
}

.offer__top span {
  display: block;
  color: #67403d;
}

.treatment-stairs span {
  color: #381c18;
}

.treatment-stairs__img {
  height: 48rem;
  object-fit: cover;
  display: block;
}
/*# sourceMappingURL=main.css.map */