.about {
	h2 {
		padding-bottom: 3rem;
		display: inline-block;
		border-bottom: 3px solid $second-color;
		margin-bottom: 5rem;
	}

	span {
		color: $second-color;
	}

	&__box {
		display: flex;
		gap: 10rem;
		// margin-bottom: 5rem;
	}
	&__description {
		p:not(:last-of-type) {
			margin-bottom: 5rem;
		}
	}
	&__photo {
		// width: 40vw;
		max-height: 45rem;
		// object-fit: cover;
	}
}
