.section-hero {
	padding: 9.6rem 0;
	.hero {
		padding: 0 4.8vw;
		max-width: 120rem;
		display: grid;
		gap: 4.8rem;
		margin: 0 auto;
		grid-template-columns: 1fr 1fr;

		&__text-box {
			span {
				color: $gray-shade;
				color: $main-shade2;
			}
			.btn:link,
			.btn:visited {
				@include btn;
				// background-color: #b53526;
				background-color: $second-color;
			}
			.btn:hover,
			.btn:active {
				background-color: darken(#b53526, 20%);
			}
		}

		&__img {
			width: 100%;
		}
	}
}
