.quality {
	background-color: $main-color;
	&__top {
		display: flex;
		align-items: center;
		h3 {
			padding-left: 10rem;
			border-left: 3px solid $main-shade;
		}
		span {
			color: $main-shade;
		}
	}
	&__bottom {
	}
	&__btn {
	}
}

.card-icon {
	height: 2.4rem;
	width: 2.4rem;
	// color: black;
}
