.container {
	/* 1140px */
	max-width: 120rem;
	// padding: 5rem 5rem 0 5rem;
	margin: 0 auto;
}

.padding--big {
	padding: 10rem 5vw;
}
.padding--huge {
	padding: 15rem 5vw;
}
.padding--footer {
	padding-bottom: 5rem;
}

.heading-secondary {
	font-size: 4rem;
	color: inherit;
	margin-right: 10rem;
	font-weight: 600;
	line-height: 117%;
	letter-spacing: 0.05em;
}

.description {
	font-size: 2rem;
	line-height: 148%;
	letter-spacing: 0.05em;
	color: inherit;
	font-weight: 400;
}

/* *************MIXIN************/

@mixin sectionHead($color) {
	display: flex;
	align-items: center;
	h3 {
		padding-left: 10rem;
		border-left: 3px solid $color;
	}
	span {
		display: block;
		color: $color;
	}
}
