.treatment-stairs {
	span {
		color: $third-color;
	}
	&__img {
		// margin: 5rem 0;
		// width: 100vw;
		// max-width: 100%;
		// height: 48rem;
		// object-fit: cover;
		// max-width: 1400px;
		height: 48rem;
		object-fit: cover;
		display: block;
	}
}
